node_modules
/build
/tests/*
!/tests/e2e/
/tests/e2e/*
!/tests/e2e/table-styles.spec.ts
!/tests/e2e/sidebar-spacing.spec.ts
!/tests/e2e/date-picker.spec.ts
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.test

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

/localfiles
